*{
    font-family: 'Pretendard Variable';
    max-width: 1920px;
    margin: 0 auto;
    max-height: 790px;;
}
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./variable/woff2/PretendardVariable.woff2') format('woff2-variations');
}