*{
    font-family: 'Pretendard Variable';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('./variable/woff2/PretendardVariable.woff2') format('woff2-variations');
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;  

}
.app-content {
  flex: 1;
}
.footer {
  position: static;    
}
