$background-color: #FBFBFB;
.jaso-container {
  width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;


  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .input-box {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;

    &:focus {
      outline: none;
        border-radius: 8px;
        border: 1px solid #379A6F;
    }
  }

  .textarea-box {
    width: 100%;
    height: 160px;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    resize: none;

    &:focus {
        outline: none;
        border-radius: 8px;
        border: 1px solid #379A6F;
    }
  }

  .submit-btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none;;
    border-radius: 24px;
    background: #379A6F;;

    cursor: pointer;
    transition: all 0.25s ease;

    &:hover { 
        border-radius: 24px;
        background: #379A6F;
    }

    &:active {
      transform: translateY(0px);
    }
  }
}
